# Whitelist files / extensions
!*.yaml
!.gitignore
!*.md

# Ignore these files and folders
.cloud/
.git/
.HA_VERSION
.homekit.state
.ios.conf
.storage/
.uuid
custom_components/
deps/
emulated_hue_ids.json
graphs/
home-assistant.log
ip_bans.yaml
home-assistant_v2.db
# homekit.yaml
known_devices.yaml
node-red/
options.xml
OZW_Log.txt
plex.conf
pyozw.sqlite
secrets.yaml
tts/
www/
zwcfg*
zwscene.xml
